/target/enrollee-services-0.0.1-SNAPSHOT.jar.original
/target/maven-archiver/
/target/maven-status/
/target/classes/
/target/test-classes/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
